<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="globalVariables" type="record" depth="1">

      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">v01.verifyMember.IDFHN3.tokenCacheName</value>
        <value name="value">TokenCache</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">v01.verifyMember.IDFHN3.tokenCacheManager</value>
        <value name="value">ESBCacheManager</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">v01.verifyMember.IDFHN3.tokenURL</value>
        <value name="value">https://m.fhnid.com/api/oauth2/token</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">v01.verifyMember.IDFHN3.tokenUserName</value>
        <value name="value">MobileUser</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">v01.verifyMember.IDFHN3.tokenPassword</value>
        <value name="value">gvhandle.v01.verifyMember.IDFHN3.tokenPassword</value>
        <value name="isSecure">true</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">v01.verifyMember.IDFHN3.tokenBufferMins</value>
        <value name="value">4</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">v01.verifyMember.IDFHN3.fhn3URL</value>
        <value name="value">https://m.fhnid.com/api/foneintegration/verifymember</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">v01.verifyMember.dataissue.invalidCountry</value>
        <value name="value">Invalid/missing Country Field</value>
        <value name="isSecure">false</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
