v01.authenticate.service_id=1
v01.authenticate.logger=AUTHENTICATE_V01_LOGGER

v01.authenticate.success=True
v01.authenticate.successstatus=Successful

v01.authenticate.failure=False
v01.authenticate.failurestatus=Failed

v01.authenticate.invalidlogin.code=401
v01.authenticate.invalidlogin.message=Invalid User/Password
v01.authenticate.internalerror.code=500

v01.authenticate.dataissue.code=101
v01.authenticate.dataissue.message=Transaction_id missing

wx.config.env.DEV=dev.cnf
wx.config.env.QA=qa.cnf
wx.config.env.PROD=prod.cnf
